.App {
	text-align: center;
}

.circle{
	position: absolute;
	top: 100px;
	left: 500px;
	height: 110px;
	width: 110px;
	border-radius: 70px;
	border: 2px solid black;
}

.square{
	position: absolute;
	top: 16px;
	left: 15px;
	height: 75px;
	width: 75px;
	border: 2px solid black;
}
